
/*
	Site Name: E-Office Portal - Online office management system
	URI: http:http://eoffice.techware.co.in/
	Description: This is the custom css for E0ffice portal
	Version: 2.0
	Author: Amal-Techware Solution
	Author URI: 
	Tags:
	
	---------------------------
	CUSTOM STYLES
	---------------------------
	
	TABLE OF CONTENTS
	---------------------------

	 01. LANDING-PAGE-STYLE
	 02. HOME-INDEX-PAGE-STYLE
	 03. ATTENDENCE-PAGE-STYLE
	 04. TEMPORARY-WORK-STATUS-PAGE-STYLE
	 05. APPLY-LEAVE-PAGE-STYLE
	 06. LEAVE-STATUS-SUMMARY-PAGE-STYLE
	 07. THOUGHT-OF-THE-DAY-PAGE-STYLE
	 08. BIRTHDAY-DAY-PAGE-STYLE
	 09. ANNOUCEMENT-PAGE-STYLE
	 10. EVENT-PAGE-STYLE
	 11. MY-ATTENDENCE-STATUS-PAGE-STYLE
	 12. MY-WORK-REPORT-PAGE-STYLE
	 13. APPLY-LEAVE-MODAL-PAGE-STYLE
	 14. MY-PROFILE-PAGE-STYLE
	 15. EDIT-PROFILE-PAGE-STYLE
	 16. CHANGE-PASSWORD-MODAL-STYLE

*/


/*-------------------------------

01. LANDING-PAGE 

--------------------------------*/

.e_landing_main_div{width:100%;position:relative;}
.e_login_container{width:275px;margin:0 auto;padding-top:3%;padding-bottom:3%;}
.e_logo_div{width:100%;}
.e_logo_div img{width:100px;}
.e_logo_div p{color:#646464;margin:0px;font-weight: 500;}
.e_logo_div p span{margin-left:5px;margin-right:5px;}
.e_logo_bar{color:#c9caca !important;}
.e_landing_footer{position:absolute;width:100%;bottom:0px;left:0px;right:0px;}
.e_landing_bottom_bar{background:url("../img/e_border_bottom.png");background-repeat:no-repeat;background-position:center;background-size:cover;width:100%;height:5px;}
.e_landing_footer p{color:#878787;font-weight: 300;padding-bottom:20px;}
.e_login_wrap{width:100%;background:#f9fafb;border-radius:20px;padding: 20px;margin-top:40px;margin-bottom:25px;box-shadow:0px 0px 75px 0px #a8a8a8;}
.e_login_wrap hr{margin:0px;border:1px solid #1b859d;height: 0px;width:50px;margin: 0 auto;margin-top:20px;margin-bottom:20px;}
.e_login_wrap h4{margin:0px;text-align:center;color:#838383;font-weight: 300;}
.e_login_wrap p{margin:0px;text-align:center;color:#838383;font-weight: 300;font-size: 12px;}
.e_login_wrap p a{color:#5c7ca2 !important;text-decoration:none;font-weight: 300;}
.e_login_form_row{width:100%;padding-bottom:15px;}
.e_login_input{border:1px solid #b7b7b7 !important;border-radius:20px;text-align:center !important;color:#438a92 !important;font-weight:400;}
.e_login_mdl_label{margin: 0px;top: 0px !important;bottom: 0px !important;text-align: center !important;padding: 5px;font-size: 14px !important;}
.e_login_mdl_label:after{bottom:0px !important;border:2px solid #2c8089 !important;border-radius:20px !important;height:30px !important;background:transparent !important;}
.e_login_mdl_textfield{position:relative !important;padding:0px !important;}
.e_signin_btn{background:#ec8211 !important;position:relative;color:#fff !important;text-transform: capitalize !important;border-radius: 20px !important;letter-spacing:2px !important;outline:none !important;padding-left: 30px !important;padding-right: 30px !important;margin-top: 15px !important;font-weight: 400 !important;}
.e_signin_btn i{margin-left:10px;}
.e_signin_btn .btn_text{bottom: 2px !important;position: relative;}
.e_login_form_row P{font-size:12px;}

/*-------------------------------

02. HOME-INDEX-PAGE-STYLE

--------------------------------*/

/*--nav-bar-styles*/

.e_main_navbar{background:#fefefe;-webkit-transition: height 0.50s;-moz-transition: height 0.50s;transition: height 0.50s;transition: all .50s ease;-webkit-transition: all .50s ease;}
.e_main_navbar .navbar-brand{-moz-transition: height 0.50s;transition: height 0.50s;}
.e_main_navbar .navbar-brand img{width: 70px;}
.e_nav_bar_menu_list{float:right;}
.e_nav_bar_menu_list ul{width:100%;margin:0px;padding:0px;}
.e_nav_bar_menu_list ul li{float:left;list-style:none;color:#878787;cursor:pointer;margin-right: 25px;padding-top: 20px;padding-bottom: 20px;font-weight: 300;-moz-transition: height 0.50s;transition: height 0.50s;}
.e_nav_bar_menu_list ul li span{margin-left:5px;}
.e_nav_bar_menu_list ul li span img{width: 15px;}
.e_nav_profile{padding-top: 20px;padding-bottom: 20px;color:#878787;padding-right: 10px;padding-left: 10px;}
.e_nav_profile p{margin:0px;}
.e_nav_profile_pic{width:55px;height:55px;background:url("../img/e_nav_profile.png");background-position:center;background-size:cover;position: relative;top:4px;}
.e_nav_profile_pic img{width:100%;height:100%;border-radius:50%;object-fit:cover;object-position:center;}
.e_nav_bar_menu_list ul li a{background:#ec8211;color:#fff;text-decoration: none;font-weight: 300;padding: 6px;padding-left:25px;padding-right: 25px;border-radius: 20px;}
.e_nav_profile_pic span{position: relative;left:60px;}
.e_nav_profile_pic span img{width:16px;object-fit: contain;}
.e_nav_menu_drop_down{width:150px !important;}
.e_nav_menu_drop_down li{margin:0px !important;padding:0px !important;width:100%;padding:6px !important;font-weight:300;padding-left:15px !important;font-size: 12px !important;}
.e_nav_menu_drop_down li a{background: transparent !important;color: #878787 !important;padding:0px !important;}
.e_nav_bar_menu_list .mdl-menu__outline{box-shadow: none !important;}
.e_profile_account{cursor:pointer;}
.e_account_drop{width:180px !important; right: 0px !important;}
.e_profile_account .mdl-menu__outline{box-shadow: none !important;}
.e_account_drop li{color: #878787;padding: 5px;padding-left:15px;font-weight: 400;}
.e_account_drop li i{margin-right: 10px;}
.e_main_navbar_shrink{background: #346b92;-moz-transition: height 0.50s;transition: height 0.50s;transition: all .50s ease;-webkit-transition: all .50s ease;}
.e_main_navbar_shrink .navbar-brand{-webkit-transition: all .50s;-moz-transition: all .50s;transition: all .50s;}
.e_main_navbar_shrink .e_nav_bar_menu_list ul li{padding-top:10px;padding-bottom:10px;color:#fff;-webkit-transition: all .50s;-moz-transition: all .50s;transition: all .50s;}
.e_main_navbar_shrink .e_nav_profile_pic{width:30px;height:30px;-moz-transition: all .50s;transition: all .50s;}
.e_main_navbar_shrink .e_nav_profile{padding-top: 10px;padding-bottom: 10px;-moz-transition: all .50s;transition: all .50s;}
.e_main_navbar_shrink .e_nav_profile_pic span{left:40px;-moz-transition: all .50s;transition: all .50s;}
.e_main_navbar_shrink .e_nav_profile p{color: #fff;}
.e_main_navbar_shrink .e_nav_bar_menu_list ul li a{color: #fff !important;}
.e_logo_expand{display: block;}
.e_logo_shrink{display: none;}
.e_main_navbar_shrink .e_logo_expand{display: none !important;}
.e_main_navbar_shrink .e_logo_shrink{display: block !important;}
.e_main_navbar_shrink .e_nav_bar_menu_list .mdl-menu__outline{box-shadow: none !important;background: #346b92;}
.e_main_navbar_shrink .e_profile_account .mdl-menu__outline{box-shadow: none !important;background: #346b92;}
.e_main_navbar_shrink .e_account_drop li{color: #fff;}

/*feeds-styles*/

.e_main_div{position: relative;top:75px;}
.e_landing_page_title{width:100%;color: #979595;font-size: 26px;font-weight: 300;padding-top:30px;padding-bottom: 30px;}
.e_landing_page_title a{font-weight: 300;color: #797979 !important;}
.e_content_wrapper{width:100%;color: #636363;}
.e_content_head{border-radius: 20px;}
.e_content_head h5{font-size: 16px;padding-top:7px;padding-bottom:7px;margin:0px;padding-left: 15px;font-weight: 400;color:#636363;}
.e_title_circle{width:30px;height:30px;border-radius:50%;text-align: center;padding:5px;}
.e_title_circle img{width: 20px;}
.e_main_div .color1{background: #1ea6b5;}
.e_main_div .color2{background: #d93300;}
.e_main_div .color3{background: #6d6d6d;}
.e_content_feed_list{width: 100%;padding-top:40px;}
.e_content_feed_list ul {margin:0px;padding:0px;}
.e_content_feed_list ul li{width:100%;list-style: none;}
.e_feed_inner{padding-left: 15px;padding-top: 10px;}
.e_feed_inner h6{margin:0px;font-size: 14px;color: #636363;line-height: 10px;font-weight: 500;}
.e_feed_inner h4{margin:0px;color: #357da0;font-size: 16px;}
.e_feed_content{width:100%;padding-left: 45px;padding-top:30px;}
.e_feed_content h6{margin:0px;font-size: 14px;color: #636363;line-height: 10px;font-weight: 500;padding-bottom: 10px;}
.e_feeds_image{width:100%;}
.e_feeds_image ul{width:100%;padding:0px;margin:0px;}
.e_feeds_image li{width:250px !important;height:200px;float: left;border:2px solid #f6f7f7;list-style: none;}
.e_feeds_image li img{object-fit: cover;object-position: center;width: 100%;height: 100%;}
.e_feeds_messages{width:100%;padding-top: 20px;}
.e_feeds_messages p{color: #636363;font-size: 13px;line-height: 20px;}
.e_feed_btm{width:100%;}
.e_feed_view{border:2px solid #ec8211;border-radius:20px;color:#646464;padding-left:15px;padding-right:15px;cursor:pointer;font-weight: 500;}
.e_feed_daten_time{margin-left: 50px;}
.e_feed_daten_time span{margin-right:10px;}
.e_feed_daten_time span img{position: relative;bottom: 2px;}
.e_content_feed_list ul li hr{border-bottom: 1px solid #dadada;height:0px;}

/*birthday-style*/

.e_info_content{width:100%;background: #eff0f0;border-radius: 20px;margin-bottom: 30px;}
.e_content_head p{font-size: 12px;}
.e_content_head p span img{width: 17px;margin-left: 9px; position: relative;top: 0px;}
.e_info_head{color: #838282;font-weight: 300;font-size: 18px;background:url("../img/e_elipse_dot.png");background-repeat: no-repeat;background-position:20px;padding: 15px;padding-left: 40px;}
.e_info_content ul{padding:0px;margin:0px;}
.e_info_content ul li{list-style: none;padding-left: 30px;padding-bottom: 10px;padding-top: 10px;}
.e_info_pic_div{width:50px;height:50px;border-radius:50%;}
.e_info_pic_div img{width:100%;height:100%;object-position:center;object-fit: cover;border-radius:50%;}
.e_info_detail_div{padding:8px;padding-left: 14px;}
.e_info_detail_div h5{margin: 0px;color: #727272;font-weight: 300;font-size: 14px;}
.e_info_detail_div h6{margin:0px;color: #5a5a5a;font-size: 13px;font-weight: 500;}

/*event-style*/

.e_event_list{width:100%;}
.e_event_list ul{margin:0px;padding:0px;}
.e_event_list ul li{width:100%;list-style: none;margin-bottom:10px;background:#f0f1f1;border-radius: 20px;padding:15px;}
.e_calender_event{padding: 5px;width: 40px;}
.e_calender_event img{margin-right:10px;height: 25px;}
.e_event_detail{padding-left: 10px;border-left:1px solid #dadada;width:calc(100% - 40px);background:url("../img/e_arrow_right.png");background-repeat: no-repeat;background-position: right 10px top 10px;}
.e_event_detail h5{margin: 0px;color: #727272;font-weight: 300;font-size: 14px;}
.e_event_detail h6{margin:0px;color: #5a5a5a;font-size: 13px;font-weight: 500;}

/*-------------------------------

03. ATTENDENCE-PAGE-STYLE

--------------------------------*/

.e_announcement_div{background: #f0f0f0;border-radius:20px;padding:20px;}
.e_current_time{padding-bottom: 20px;}
.e_current_time p{color: #898888;padding:0px;margin: 0px;font-weight: 300;}
.e_current_time h3{margin:0px;color: #6e6e6e;font-weight: 300;font-size: 26px;}
.e_current_time h3 span{}
.e_current_time h3 .meridian{font-size: 14px;position: relative;bottom: 15px;}
.e_attendence_for_day{background: #f0f1f1;border-radius: 20px;padding-left: 15px;}
.e_attendence_for_day p{color: #7d7d7d;margin:0px;padding:5px;font-weight:300;    font-size: 16px; }
.e_attendence_for_day p strong{color: #2a90a9;margin-left: 20px;font-weight:500;}
.e_attendence_from_to_div{width: 100%;padding-top:20px;}
.e_attendence_from{background:url("../img/e_clock.png");background-repeat: no-repeat;padding-left: 75px;border-right:1px solid #c9c9c9;}
.e_attendence_from h4{margin:0px;font-weight: 300;font-size: 18px;color: #7d7c7c;}
.e_attendence_from p{padding: 0px;color: #2a90a9;margin:0px;font-size: 20px;font-weight: 300;}
.e_attendence_from p strong{color: #7d7c7c;font-weight: 300;}
.e_attendence_to{padding-left: 40px;}
.e_attendence_to h4{margin:0px;font-weight: 300;font-size: 18px;color: #7d7c7c;}
.e_attendence_to p{padding: 0px;color: #7d7c7c;margin:0px;font-size: 20px;font-weight: 300;}

/*remarks*/

.e_attendence_remarks{width:100%;padding-top: 30px;}
.e_attendence_textarea{width:100%;border:1px solid #c9c9c9;color: #ababab;background: transparent;padding: 10px;font-size: 14px;}
.e_attendence_textarea:focus{border:none;}
.e_attendence_textarea::-webkit-input-placeholder {color:#ababab;}
.e_attendence_textarea::-moz-placeholder { color:#ababab;}
.e_attendence_textarea:-ms-input-placeholder { color:#ababab;}
.e_attendence_textarea:-moz-placeholder { color:#ababab;}

/*mark-buttons*/

.e_marks_btn_bay{width:100%;padding-top: 30px;padding-bottom: 20px;}
.e_mark_in{color: #fff !important;background: #0eb48b !important;text-transform: capitalize !important;border-radius:20px !important;outline:none !important;padding-left: 25px !important;padding-right: 25px !important;}
.e_mark_in i{margin-left:10px;color: #54fed4;}
.e_mark_out{color: #fff !important;background: #696969 !important;text-transform: capitalize !important;border-radius:20px !important;outline:none !important;padding-left: 25px !important;padding-right: 25px !important;}
.e_mark_out i{margin-left:10px;color: #c4c4c4;}
.e_mark_custom{color: #fff !important;background: #2893ab !important;text-transform: capitalize !important;border-radius:20px !important;outline:none !important;padding-left: 35px !important;padding-right:35px !important;}
.e_mark_custom_out{color: #fff !important;background: #e4e5e5 !important;text-transform: capitalize !important;border-radius:20px !important;outline:none !important;padding-left: 35px !important;padding-right:35px !important;}
.e_mark_custom_out i{margin-left:10px;}
.e_marks_btn_bay p{color: #5d5d5d;font-weight: 500;margin:0px;}


/*time-zones*/

.e_time_zones{width:100%;padding-top:50px;}
.e_time_zones ul{margin:0px;padding: 0px;text-align: center;padding-top: 30px;}
.e_time_zones ul li{display: inline-block;list-style: none;text-align: center;padding-left:2%;padding-right: 2%;}
.e_time_zones ul li h6{margin:0px;color: #939393;padding-bottom: 10px;font-size: 14px;}
.e_time_zones ul li p{padding:0px;color: #929292;padding-top: 10px;font-weight: 300;}
.e_flag{margin:0 auto;width:40px;height:40px;border-radius:50%;background: #939393;}
.e_flag img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.e_time_picker{width:80px;height:30px;border:2px solid #000000;border-radius:20px;outline:none;padding-left: 10px;background: transparent;}
.e_time_picker_div{padding-bottom: 30px;}

/*-------------------------------

04. TEMPORARY-WORK-STATUS-PAGE-STYLE

--------------------------------*/

.e_status_for_day{padding-top: 10px;padding-bottom: 10px;border-left:1px solid #bbbbbb;padding-left:20px;}
.e_status_for_day p{color: #7d7d7d;margin:0px;padding:5px;font-weight:300;    font-size: 16px; }
.e_status_for_day p strong{color: #2a90a9;margin-left: 20px;font-weight:500;}

/*work-status*/

.e_work_status_div{width: 100%;}
.e_work_status_head{background: #f1f1f1;border-radius:20px;padding: 4px;}
.e_work_status_circle{width:30px;height: 30px;border-radius:50%;background: #1ea6b5;float: left;text-align: center;padding:3px;}
.e_work_status_circle img{width: 15px;}
.e_work_status_head p{margin: 0px;float: left;color: #636363;padding: 4px;font-size:14px;padding-left: 15px;}
.e_work_status_head tr{background: #f1f1f1;border-radius:20px;border:none;}
.e_work_status_head th{border:none;padding: 4px;background: #f1f1f1;border-radius:20px;}
.e_work_status_content{width: 100%;}
.e_work_status_content ul{width:100%;padding:0px;padding-top: 10px;}
.e_work_status_content ul li{width:100%;list-style: none;padding-top: 10px;padding-bottom: 10px;}
.e_work_status_select{width: 100%;color:#707070;background:transparent;border:1px solid #cccccc;border-radius:20px;height:35px;outline:none;-webkit-appearance: none;-moz-appearance: none;background:url("../img/e_drop_down_orange.png");background-repeat: no-repeat;background-repeat: no-repeat;background-position: right 10px top 10px;background-size: 15px;padding-left:20px;}
.e_work_status_select1{width:calc(100% - 75px);color:#707070;background:transparent;border:1px solid #cccccc;border-radius:20px;height:35px;outline:none;-webkit-appearance: none;-moz-appearance: none;background:url("../img/e_drop_down_orange.png");background-repeat: no-repeat;background-repeat: no-repeat;background-position: right 10px top 10px;background-size: 15px;padding-left:10px;}
.e_work_status_content ul li span{padding: 3%;padding-top: 10px;}
.e_work_status_textarea{background:transparent;border:1px solid #cccccc;border-radius:20px;width:calc(100% - 100px);}
.e_work_status_textarea:focus{border:none;}
.e_work_status_textarea::-webkit-input-placeholder {color:#ababab;}
.e_work_status_textarea::-moz-placeholder { color:#ababab;}
.e_work_status_textarea:-ms-input-placeholder { color:#ababab;}
.e_work_status_textarea:-moz-placeholder { color:#ababab;}
.e_work_add_btn{background: #0eb48b !important;border-radius:20px !important;outline:none !important;color: #fff !important;text-transform: capitalize !important;padding-left: 20px !important;padding-right: 20px !important;    font-weight: 400 !important;letter-spacing: 1px !important;}
.e_work_add_btn i{margin-left:5px;color: #54fed4;}

/*-------------------------------

05. APPLY-LEAVE-PAGE-STYLE

--------------------------------*/

/*apply-leave*/

.e_apply_leave_content{width: 100%;padding-top:20px;padding-left: 45px;padding-bottom: 50px;}
.e_apply_leave_text{color: #727272;border-right:1px solid #c9c9c9;font-size: 14px;line-height: 25px;}
.e_apply_leave_content .color1{color:#188c99;background: transparent;}
.e_apply_leave_content .color2{color:#585858;background: transparent;}
.e_apply_leave_content .color3{color:#ec8211;background: transparent;}
.e_apply_leave_content .color4{color:#ee4040;background: transparent;}
.e_apply_leave_content .color5{color:#21b885;background: transparent;}
.e_leave_details{width: 100%;}

/*leave-information*/

.e_leave_information{width:100%;}
.e_office_holiday_list{width:100%;padding-top: 30px;}
.e_year_title{background:url("../img/e_circle_orange.png");background-repeat: no-repeat;padding-left: 45px;background-position: 6px 6px;border-right:1px solid #c9c9c9;}
.e_year_title p{padding:0px;margin:0px;color: #6c6c6c;font-size: 18px;}
.e_year_title h6{margin:0px;color: #6c6c6c;font-size: 15px;}
.e_office_holiday_list ul{padding-top:50px;}
.e_office_holiday_list ul li{width: 100%;list-style: none;padding-bottom: 5px;}
.e_office_holiday_list ul li p{margin:0px;color: #787878;}
.e_office_holiday_list h5{margin: 0px;color: #525252;font-size: 15px;padding-bottom: 15px;}

/*special-information*/

.e_special_notes{width:100%;}
.e_special_notes_details{background: #f1f1f1;border-radius:20px;padding:20px;margin-top:10px;}
.e_special_notes_details ul{padding:0px;margin:0px;}
.e_special_notes_details ul li{width:100%;list-style: none;color:#8c8c8c;line-height: 17px;font-size: 12px;text-align: justify;background:url("../img/e_circle_round.png");background-repeat: no-repeat;padding-left: 20px;background-size: 11px;padding-bottom: 10px;}
.e_holiday_info_btn{border:1px solid #ec8211;color: #ec8211;border-radius:20px;height:40px;background: transparent;outline:none !important;padding-right: 35px;padding-left: 35px;cursor: pointer;}


/*-------------------------------

06. LEAVE-STATUS-SUMMARY-PAGE-STYLE

--------------------------------*/

.e_leave_status_table{width: 100%;}
.e_leave_status_head{width:100%;padding-bottom:20px;}
.e_leave_status_sl{width: 70px;height: 30px;border:1px solid #a1a1a1;border-radius:20px;background: transparent;padding-left: 10px;outline:none;color: #8f8f8f;-webkit-appearance: none;-moz-appearance: none;background:url("../img/e_drop_down_orange.png");background-repeat: no-repeat;background-position: right 6px top 7px;background-size: 15px;}
.e_leave_status_sort{width: calc(100% - 65px);height: 30px;border:1px solid #a1a1a1;border-radius:20px;background: transparent;padding-left: 10px;outline:none;color: #8f8f8f;-webkit-appearance: none;-moz-appearance: none;background:url("../img/e_drop_down_orange.png");background-repeat: no-repeat;background-position: right 6px top 7px;background-size: 15px;}
.e_leave_status_head span{color: #8f8f8f;margin-right: 10px;}
.e_leave_search_input{width: calc(100% - 40px);height: 30px;border:1px solid #a1a1a1;border-radius:20px;background: transparent;padding-left: 10px;outline:none;color: #8f8f8f;    padding-left: 20px;font-style: italic;}
.e_leave_search_box{background:url("../img/e_search.png");background-repeat: no-repeat;background-position: right;}
.e_leave_status_table .table tbody{}
.e_leave_status_table .table thead{ background: #1baab7;border-radius: 20px !important;}
.e_leave_status_table .table thead th{border:none !important;color: #fff;font-weight: 400;font-size: 15px;padding-left: 20px;}
.e_leave_status_table .table thead th:first-child{border-top-left-radius: 20px;border-bottom-left-radius: 20px;}
.e_leave_status_table .table thead th:last-child{border-top-right-radius: 20px;border-bottom-right-radius: 20px;}
.e_leave_status_table .table td, .table th{border:none !important;    padding-left: 20px;color: #979797;font-size: 12px;}
.e_leave_status_table .table tbody tr{border-bottom:1px solid #e3e4e4;}
.e_leave_status_table .table .cancel{background:url("../img/e_cancel.png");background-repeat: no-repeat;background-position:25px;}
.e_leave_status_table .table .approved{background:url("../img/e_approved.png");background-repeat: no-repeat;background-position: right 15px top 14px;}
.e_leave_status_table .table .pending{background:url("../img/e_pending.png");background-repeat: no-repeat;background-position: right 15px top 14px;}


/*-------------------------------

07. THOUGHT-OF-THE-DAY-PAGE-STYLE

--------------------------------*/

.e_thought_div{width:100%;padding-top: 15px;}
.e_thought_div_left{float: left;width:120px;height:100px;border-right:1px solid #e3e4e4;text-align: center;}
.e_thought_div_left img{width: 80px;}
.e_thought_div_right{float: right;width:calc(100% - 120px);padding: 25px; }
.e_thought_div_right p{color: #979595;margin:0px;}

/*-------------------------------

08. BIRTHDAY-DAY-PAGE-STYLE

--------------------------------*/

.e_birthday_list_div_right{float: right;width:calc(100% - 120px);padding-left: 15px;}
.e_birthday_list_div_right ul{padding:0px;margin:0px;}
.e_birthday_list_div_right ul li{display:inline-block;background: #f1f2f2;width: calc(100% - 600px);border: 2px solid #f7f7f7;padding: 15px;position: relative;}
.e_birthday_profile_pic{width:80px;height:80px;border:2px solid #30a48a;border-radius:50%;}
.e_birthday_profile_pic img{width:100%;height:100%;object-position: center;object-fit: cover;border-radius:50%;}
.e_birthday_list_div_right ul li h5{margin:0px;font-size:15px;padding-top: 15px;padding-bottom: 10px;}
.e_birthday_list_div_right ul li ul{width:100%;padding:0px;margin:0px;}
.e_birthday_list_div_right ul li ul li{width:100%;list-style: none;border:none;line-height: 10px;padding: 0px;}
.e_birthday_list_div_right ul li ul li .child{width:50%;float: left;color: #727272;font-size: 12px;}
.e_expand{width:20px;height:20px;background:url("../img/e_expand.png");background-repeat: no-repeat;background-position: center;position: absolute;top:10px;right:10px;}

/*-------------------------------

09. ANNOUCEMENT-PAGE-STYLE

--------------------------------*/

.e_annoucement_list_div_right{float: right;width:calc(100% - 120px);padding-left: 40px;}
.e_annoucement_list_div_right ul{padding: 0px;}
.e_annoucement_list_div_right ul li{list-style: none;}

/*-------------------------------

10. EVENT-PAGE-STYLE

--------------------------------*/

.e_event_list_div_right{float: right;width:calc(100% - 120px);padding-left:15px;}
.e_leave_status_table .table .viewall{background:url("../img/e_view_all.png");background-repeat: no-repeat;background-position: right 50% top 14px;}

/*-------------------------------

11. MY-ATTENDENCE-STATUS-PAGE-STYLE

--------------------------------*/

.e_attendence_status{width: 100%;}
.e_attendence_status p{color: #2993ab;font-size: 16px;font-weight: 300;}
.e_attendence_status h6{color: #6b6b6b;margin:0px;font-size: 13px;font-weight: 500;padding-bottom: 10px;}
.e_attendence_select{width:100%;height:35px;border-radius:20px;border:1px solid #808181;font-size: 16px;font-weight: 400;outline:none;background: transparent;padding-left: 15px;color: #d6d8d9;background:url("../img/e_drop_down.png");background-repeat: no-repeat;background-position: right;-webkit-appearance: none;-moz-appearance: none;background-position: right 7px top 7px;}
.e_attendence_submit{width:100%;height:35px;background:#0eb48b !important;border-radius:20px !important;border:none;color: #fff !important;outline:none !important;text-transform: capitalize !important;letter-spacing: 2px !important;}
.e_attendence_report_info{width:100%;}
.e_attendence_report_pic{width:90px;height:90px;border-radius:50%;border:2px solid #1fa4b4;float: left;}
.e_attendence_report_pic img{width: 100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.e_attendence_report_detail{width:calc(100% - 90px);float: left;padding-left: 30px;}
.e_attendence_report_detail ul{padding:0px;margin:0px;}
.e_attendence_report_detail ul li{width:100%;list-style: none;font-size: 15px;padding-bottom: 5px;}
.e_attendence_report_detail ul li .child1{float: left;color: #727373;width:50%;}
.e_attendence_report_detail ul li .child2{float: left;color: #a4a4a4;width:50%;}
.e_completed{background:#21b885;color: #fff;text-align: center;border-radius: 20px;padding:2px;padding-left: 10px;padding-right:10px;}
.e_completed i{color: #75ffd0;margin-left:10px;}
.e_holiday{background:#616161;color: #fff;text-align: center;border-radius: 20px;padding:2px;padding-left: 10px;padding-right:10px;}
.e_holiday i{margin-left:10px;color: #acacac;}
.e_leave{background:#ec0000;color: #fff;text-align: center;border-radius: 20px;padding:2px;padding-left: 10px;padding-right:10px;}
.e_leave i{margin-left:10px;color: #fd9e85;}
.e_info{background:#377a9e;color: #fff;text-align: center;border-radius: 20px;padding:2px;padding-left: 10px;padding-right:10px;}
.e_info i{margin-left:10px;color: #67b0d7;}

/*-------------------------------

12. MY-WORK-REPORT-PAGE-STYLE

--------------------------------*/

.e_radio_button_div{padding-top: 5px;}
.e_radio_button{color:#888888;font-size:15px;position:relative;display: inline-block;margin-right: 15px;}
.e_radio_button span{position:relative;padding-left:20px;}
.e_radio_button span:after{content:'';width:15px;height:15px;border:3px solid;position:absolute;left:0;top:1px;border-radius:100%;-ms-border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.e_radio_button input[type="radio"]{cursor: pointer; position:absolute;width:100%;height:100%;z-index: 1;opacity: 0;filter: alpha(opacity=0);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.e_radio_button input[type="radio"]:checked + span{color:#377a9e;  }
.e_radio_button input[type="radio"]:checked + span:before{content:'';width:5px;height:5px;position:absolute;background:#1caab7;left:5px;top:6px;border-radius:100%;-ms-border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;}

/*-------------------------------

13. APPLY-LEAVE-MODAL-PAGE-STYLE

--------------------------------*/


.e_apply_leave_modal{background: transparent;border:none;}
.e_apply_leave_container{width:320px;margin:0 auto;height:300px;top: 100px;background:#f6f6f6;border-radius:8px;border:1px solid #ec8211;padding:15px;z-index: 9999;}
.e_apply_leave_container .color1 {background: #1ea6b5;}
.e_apply_modal_description{width:100%;padding-top: 15px;}
.e_apply_modal_description p{margin:0px;color: #5d5d5d;font-size: 11px;font-weight: 600;}
.e_apply_modal_description .e_radio_button_div {padding-top: 0px;}
.e_apply_modal_description .e_radio_button_div .e_radio_button{font-size: 12px;margin-right: 10px;margin-bottom: 0px;}
.e_apply_modal_description .e_radio_button_div .e_radio_button span{}
.e_apply_modal_input{border:1px solid #808080;border-radius: 20px;width:100%;outline:none;padding-left: 10px;background: transparent;background:url("../img/calender.png");color:#808080;background-repeat: no-repeat;background-position: right 8px top 4px;background-size: 12px;}
.e_apply_modal_textarea{width:100%;border:1px solid #b7b7b7;border-radius:10px;background: transparent;outline:none;}
.e_apply_modal_submit{background: #0eb48b;color: #fff;padding: 4px;border-radius: 20px;border:none;padding-left:40px;padding-right:40px;outline:none !important;}

/*-------------------------------

14. MY-PROFILE-PAGE-STYLE

--------------------------------*/

.e_profile_detail_div{width:100%;padding-bottom: 30px;}
.e_profile_detail_pic{width:120px;height:120px;border:2px solid #30a48a;border-radius: 50%;float: left;position: relative;top: 5px;}
.e_profile_detail_pic img{width:100%;height:100%;object-fit: cover;object-position: center;border-radius: 50%;}
.e_profile_detail h3{margin:0px;color: #406996;font-weight: 400;font-size:20px;line-height: 25px;}
.e_profile_detail h5{margin:0px;font-size:16px;font-weight: 400;}
.e_profile_detail p{color: #5b5c5c;font-weight: 600;margin:0px;padding-bottom:5px;}
.e_profile_detail1{width: 100%;}
.e_profile_detail1 li{width:50%;float: left;list-style: none;border-right:1px solid #cccccc;}
.e_profile_detail1 li p{margin:0px;font-weight: 400;color: #909090;padding-bottom:0px;padding-left: 25px;}
.e_profile_detail{width:calc(100% - 440px);float: left;padding-left: 25px;border-right:1px solid #cccccc;}
.e_profile_detail1 .e_msg{background:url("../img/e_msg.png");background-repeat: no-repeat;background-position: top 3px left;}
.e_profile_detail1 .e_call{background:url("../img/e_call.png");background-repeat: no-repeat;background-position: top 3px left;}
.e_profile_detail1 .e_loc{background:url("../img/e_loc.png");background-repeat: no-repeat;background-position: top 3px left;}
.e_experience{float:left;padding-left: 30px;padding-top: 20px;}
.e_experience h5{color: #797a7a;font-weight:400;margin:0px;padding-bottom: 5px;padding-top: 15px;font-size: 16px;}
.e_experience p{margin:0px;color: #888888;font-size: 14px;}
.e_experience p strong{color: #5f85a4;padding-right:5px;}
.e_experience  img{width:45px;}
.e_profile_leave_dept{font-weight: 400;font-size:16px;}
.e_profile_leave_dept strong{font-weight: 400;font-size: 14px;}
.e_profile_btn_bay{width: 100%;}
.e_profile_edit_button{height: 35px;border-radius: 20px;background:#2893ab;color: #fff;border:1px solid #2893ab;padding-left: 40px;padding-right: 40px;outline:none;cursor:pointer;font-weight: 500;letter-spacing: 1px;margin-right:20px;}
.e_profile_changepass_button{height: 35px;border-radius: 20px;border:2px solid #2893ab;color: #2893ab;background: transparent;padding-left:40px;padding-right: 40px;outline:none;cursor:pointer;font-weight: 500;letter-spacing:1px;}
.e_profile_edit_button span{position: relative;bottom: 2px;margin-left: 10px}
.e_profile_changepass_button span{position: relative;bottom: 2px;margin-left: 10px}

/*-------------------------------

15. EDIT-PROFILE-PAGE-STYLE

--------------------------------*/

.e_edit_profile_banner{width: 100%;border-bottom: 1px solid #dedfdf;padding-bottom:25px;}
.e_edit_profile_pic{width:120px;height:120px;border:2px solid #30a48a;border-radius: 50%;position: relative;}
.e_edit_profile_pic img{width:100%;height:100%;object-fit: cover;object-position: center;border-radius: 50%;}
.e_edit_profile_detail{width:calc(100% - 120px);padding: 25px;}
.e_edit_profile_detail h3{margin:0px;color: #406996;font-weight: 400;font-size:20px;line-height: 25px;}
.e_edit_profile_detail h5{margin:0px;font-size:16px;font-weight: 400;color: #767777;}
.e_edit_profile_detail p{color: #5b5c5c;font-weight: 600;margin:0px;padding-bottom:5px;}
.e_profile_detail_pic_overlay{position: absolute;top:0px;bottom: 0px;left:0px;right:0px;border-radius: 50%;background-color: rgba(52,81,107,0.5);opacity: 0;transition: all .50s ease;-webkit-transition: all .50s ease;cursor: pointer;}
.e_profile_detail_pic_overlay:hover{position: absolute;top:0px;bottom: 0px;left:0px;right:0px;border-radius: 50%;background-color: rgba(52,81,107,0.5);opacity: 1;transition: all .50s ease;-webkit-transition: all .50s ease;cursor: pointer;background:url("../img/e_edit_edit.png");background-repeat: no-repeat;background-position: center;background-size: 20px;}
.e_edit_profile_detail_div{width:100%;}
.e_edit_profile_section{border-right: 1px solid #dedfdf;width:100%;padding-right:10%;padding-top: 20px;}
.e_edit_profile_row{width: 100%;padding-bottom:20px;}
.e_edit_profile_row p{margin:0px;color: #2893ab;font-size: 14px;font-weight: 500;}
.e_edit_input{border:none;width:100%;border-bottom: 1px solid #dfdfdf;height:40px;background: transparent;outline:none;color:#5b5c5c;font-size: 16px;}
.e_edit_input::-webkit-input-placeholder {color:#5b5c5c;}
.e_edit_input::-moz-placeholder {color:#5b5c5c;}
.e_edit_input:-ms-input-placeholder { color:#5b5c5c;}
.e_edit_input:-moz-placeholder { color:#5b5c5c;}
.e_edit_input_label {margin: 0px;top: 0px !important;bottom: 0px !important;padding: 5px;padding-top: 13px;font-size: 14px !important;color:#5b5c5c !important;font-size: 16px !important;padding-left: 0px !important;width: 100% !important;}
.e_edit_input_label:after{bottom: 0px !important;background-color:#2893ab !important; }
.e_edit_profile_btn_bay{width:100%;    padding-top: 30px;}
.e_save_changes_btn{height:35px;outline:none;padding-left:30px;padding-right:30px;border:2px solid #2893ab;background: #2893ab;color: #fff;text-align: center;border-radius:20px;font-weight: 500;letter-spacing: 2px;margin-right:10px;}
.e_save_changes_btn img{margin-left:10px;}
.e_reset_btn{outline:none;height:35px;border:2px solid #f37c44;color:#f37c44;border-radius:20px;padding-left:60px;padding-right:60px;background: transparent;font-weight: 500;letter-spacing: 2px;}

/*-------------------------------

16. CHANGE-PASSWORD-MODAL-STYLE

--------------------------------*/

.e_change_password_modal_content{}
.e_change_password_modal_content{background: transparent;border:none;}
.e_change_password_modal_container{width:320px;margin:0 auto;top: 100px;background:#f6f6f6;border-radius:8px;border:1px solid #1ea6b5;padding:20px;z-index: 9999;}
.e_change_password_modal_container .color1 {background: #1ea6b5;}
.e_change_password_content{width:100%;padding-top:10px;}
.e_change_pass_row{width:100%;padding-top: 10px;}
.e_change_pass_row p{margin:0px;color: #5b5b5b;font-weight: 500;font-weight: 600;font-size: 12px;}
.e_change_pass_input{width:100%;background: transparent;border:none;border-bottom: 1px solid #dfdfdf;height:30px;outline: none;}
.e_change_pass_submit{width:100%;height: 30px;background-color: #0eb48b;border-radius: 20px;color: #fff;text-align: center;border:2px solid #0eb48b;font-weight: 600;outline:none;cursor:pointer;}
.e_change_pass_reset{width:100%;height: 30px;border-radius: 20px;background-color: transparent;border:2px solid #f26522;color: #f26522;text-align: center;font-weight: 600;outline:none;cursor:pointer;}