
/*
	Site Name: E-Office Portal - Online office management system
	URI: http:http://eoffice.techware.co.in/
	Description: This is the responsive css for E0ffice portal
	Version: 2.0
	Author: Amal-Techware Solution
	Author URI: 
	Tags:
	
	---------------------------
	CUSTOM STYLES
	---------------------------
	
	TABLE OF CONTENTS
	---------------------------
	01.0 Smartphones (portrait and landscape)
	02.0 Smartphones (landscape)
	03.0 Smartphones (portrait)
	04.0 iPads (portrait and landscape)
	05.0 iPads (landscape)
	06.0 iPads (portrait)
	07.0 Desktops and laptops
	08.0 Large screens
	09.0 iPhone 4 
	10.0 iPhone 5
	11.0 iPhone 6
	12.0 iPhone 6+
	13.0 Samsung Galaxy S3
	14.0 Samsung Galaxy S4
	15.0 Samsung Galaxy S5


*/


/* 01. Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.e_profile_detail{width:100%;padding:20px;padding-left: 0px;border:none;}
.e_profile_detail1 li{width:100%;border:none;padding-left: 0px !important;padding-bottom: 10px;}
.e_profile_edit_button{width:100%;margin-bottom: 10px;}
.e_profile_changepass_button{width:100%;}
.e_apply_leave_text{border:none;}
.e_experience{width: 100%;padding-left: 0px;}
.e_feed_content{padding-left: 0px;}
.e_feed_daten_time{margin-left: 0px;padding-top: 10px;width: 100%;}

}

/* 02.0 Smartphones (landscape) ----------- */

@media only screen and (min-width : 321px) {

}

/* 03.0 Smartphones (portrait) ----------- */

@media only screen and (max-width : 320px) {

}

/* 04.0 iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* 05.0 iPads (landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* 06.0 iPads (portrait) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* 07.0 Desktops and laptops ----------- */

@media only screen  and (min-width : 1224px) {

}

/* 08.0 Large screens ----------- */

@media only screen  and (min-width : 1824px) {

}

/* 09.0 iPhone 4 ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

/* 10.0 iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

/* 11.0 iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* 12.0 iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

/* 13.0 Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

/* 14.0 Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

/* 15.0 Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}


