

/*
	Site Name: E-Office Portal - Online office management system
	URI: http:http://eoffice.techware.co.in/
	Description: This is the theme common css for E0ffice portal
	Version: 2.0
	Author: Amal-Techware Solution
	Author URI: 
	Tags:
	
	---------------------------
	THEME STYLES
	---------------------------
	
	TABLE OF CONTENTS
	---------------------------
	 01. FONTS-N-SIZES 
	 02. FONTS-COLOR
	 03. THEMES-N-BACKGROUNDS
	 04. SPACING-N-POSITIONS
	 05. ALIGMENTS
	 06. ALERTS-N-MESSAGES
	 07. CONTAINERS


*/

/*-------------------------------

01. FONTS-N-SIZES 

--------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{font-family: 'Roboto', sans-serif;}
*::-webkit-scrollbar { 
    display: none; 
}
*:focus {
outline: 0 !important;
}
a{text-decoration: none !important;}
 @font-face { font-family: font-awesome; font-weight: bold; src: url('Delicious-Bold.otf');}
}
.font_size_xs{font-size:12px !important;}
.font_size_sm{font-size:14px !important;}
.font_size_md{font-size:16px !important;}
.font_size_lg{font-size:18px !important;}
.font_size_xl{font-size:20px !important;}
.font_size_vl{font-size:35px !important;}

/*-------------------------------

02. FONTS-COLOR

--------------------------------*/

.text_color_primary{color:#e66263 !important;}
.text_color_secondary{color:#3d3a3b !important;}
.text_color_white{color:#fff !important;}

/*-------------------------------

03. THEMES-N-BACKGROUNDS

--------------------------------*/

.theme_primary{background-color: #f7f7f7 !important;border: 1px solid #f7f7f7;}
.theme_grey{background-color: #f1f1f1 !important;border: 1px solid #f1f1f1;}
.theme_secondary{background:url("../img/e_theme_bg.jpg");background-position:center;background-size:cover;}
.theme_signup{background:url("../assets/img/e_signup_bg.png");background-position:center;background-size:cover;}
.border_primary{border-color:#e66263 !important;}
.theme_transparent{background:transparent !important;}
.theme_white{background-color: #fff !important;}
.theme_dark_transparent{background-color: rgba(0,0,0,0.6) !important;}
.theme_offwhite{background: #f1f1f1;}
.theme_dark_grey{background: #4c4c4c !important;}

/*-------------------------------

04. SPACING-N-POSITIONS

--------------------------------*/

.width25{width:25% !important;}
.width50{width:50% !important;}
.width75{width:75% !important;}
.widthFull{width:100% !important;}
.height25{height:25% !important;}
.height50{height:50% !important;}
.height75{width:75% !important;}
.heightFull{height:100% !important;}

.p0{padding:0px !important;}
.pl0{padding-left: 0px !important;}
.pr0{padding-right:0px !important;}
.pt0{padding-top:0px !important;}
.pb0{padding-bottom: 0px !important;}
.p10{padding:10px !important;}

.m0{margin:0px !important;}
.ml0{margin-left: 0px !important;}
.mr0{margin-right: 0px !important;}
.mt0{margin-top: 0px !important;}
.mb0{margin-bottom: 0px !important;}

.clear{clear:both !important;}

.top10{top:10px;}
.bottom10{bottom:10px;}
.left10{left:10px;}
.right10{right:10px;}
.bottom10{bottom:10px;}

.absolute{position: absolute !important;}
.relative{position: relative !important;}
.fixed{position: fixed !important;}

/*-------------------------------

05. ALIGMENTS

--------------------------------*/

.floatLeft{float:left !important;}
.floatRight{float:right !important;}
.textLeft{text-align: left !important;}
.textRight{text-align: right !important;}
.textCenter{text-align: center !important;}

/*-------------------------------

06. ALERTS-N-MESSAGES

--------------------------------*/

.alert{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;font-weight: 600;transition: all 0.5s ease;position: fixed;border-bottom:0px;left:0px;right: 0px;}
.warning{color: #fff;background-color: #8a6d3b;}
.success{color: #fff;background-color: #3c763d;}
.error{color: #fff;background-color: #a94442;}


/*-------------------------------

07. CONTAINERS

--------------------------------*/

.custom_container{max-width:1000px !important;}
.borderNone{border: none !important;}
